@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --preto:brack;
    --cor-de-fundo:#add8e6;
    --fundo-senha:#9933CC;
    --funde-de-texto:#FF33FF;
    --borda:#FF3399;
  --Playfair Display: "Playfair Display", serif;
  --font-optical-sizing: auto;
  --font-weight: <weight>;
  --font-style: normal;
    }
}
* font-weight: 400;
body{
    color:var(--preto);
    background-color: var(--cor-de-fundo);
    font-family:var(Playfair Display);
}
.titulo-principal{
    font-family: var(--Playfair-Display);
    font-size: 33px;
}
.titulo-secundario{
    font-size: 25px;
}
.conteudo-titulo{ 
    text-align: center;
    margin-top: 80px;
}
